body {
  margin: 0;
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to bottom, #ff9eb5, #ffc0cb);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.screen {
  width: 100%;
  max-width: 380px;
  background: #ffb6c1;
  padding: 20px;
  border-radius: 25px;
  margin: 20px auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.hidden {
  display: none;
}

.icons {
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
}

.icon-btn {
  background: transparent;
  padding: 10px;

  border-radius: 0;

  box-shadow: none;
  cursor: pointer;
  transition: 0.2s;
}
.icon-btn:active {
  transform: scale(0.9);
}

.days {
  background: white;
  border-radius: 20px;
  padding: 15px;
  margin-top: 10px;
  font-weight: bold;
  color: red;
}

.avatar-box {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.person img {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  object-fit: cover;

  animation: spin 5s linear infinite;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: red;
  color: white;
  cursor: pointer;
}

.start-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #ff9eb5, , #ff4d6d);
  background-size: 200% 200%;
  animation: bgMove 8s ease infinite;
  overflow: hidden;
}
@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.elegant-start {
  margin-top: 25px;
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  animation: fadeIn 2s ease-in-out infinite alternate;
}
.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(1.1);
  }
}

.heart {
  position: fixed;
  color: red;
  animation: float 5s linear infinite;
}

@keyframes float {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(-10vh);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-img {
  width: 100%;
  max-height: 420px;

  object-fit: contain;
  border-radius: 20px;
  display: block;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.image-box {
  width: 90%;
  max-width: 380px;
  aspect-ratio: 1 / 1;
  margin: 20px auto;
  border-radius: 25px;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tv-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.9);
  display: none;

  justify-content: center;
  align-items: center;
  z-index: 999;
}

.tv-content {
  position: relative;
  width: 90%;
  max-width: 400px;
}

.tv-content img {
  width: 100%;
  border-radius: 15px;
}

.close-tv {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.left {
  left: -40px;
}
.right {
  right: -40px;
}
.days {
  background: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
}

.couple-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person {
  text-align: center;
}

.person img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ff4d6d;
}

.person p {
  margin-top: 5px;
  font-weight: bold;
}

.time-box {
  text-align: center;
  font-weight: bold;
  color: red;
}

.icon-btn img {
  width: 60px;
  height: 60px;
  object-fit: cover;

  border-radius: 15px;
}

.icon-btn:active {
  transform: scale(0.9);
}
#counter {
  font-size: 45px;
  font-weight: bold;
  color: #ff4d6d;
}

.day-number {
  font-size: 50px;
  font-weight: bold;
  color: #ff4d6d;
}

.time-number {
  font-size: 18px;
  margin-top: 5px;
  color: #d6336c;
}
.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.thumbs img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
  border: 2px solid transparent;
}

.thumbs img.active {
  opacity: 1;
  border: 2px solid #ff4d6d;
  transform: scale(1.1);
}
.elegant-start {
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: white;
}

.elegant-start .text {
  font-size: 20px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.elegant-start:hover .text {
  transform: translateY(-3px);
}

.ring-ani {
  display: inline-block;
  margin-right: 8px;
  animation: ringMove 1.8s ease-in-out infinite;
  transform-origin: top center;
}

@keyframes ringMove {
  0% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}

.line {
  height: 2px;
  width: 0%;
  background: white;
  margin-top: 6px;
  transition: 0.4s;
}

.elegant-start:hover .line {
  width: 100%;
}
/* Nút X */
.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff6fa5, #ff2e7a);
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(255, 105, 180, 0.4);
  transition: all 0.3s ease;
  z-index: 1000;
}
.close-btn:hover {
  transform: scale(1.15) rotate(10deg);
  box-shadow: 0 6px 20px rgba(255, 20, 147, 0.6);
}
.tap-box {
  margin-top: 30px;
  padding: 12px 25px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
/* hộp quà */
.gift-img {
  width: 200px;
  margin-bottom: 20px;

  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Hiệu ứng rung nhẹ */
.gift-img {
  animation: floatGift 2s ease-in-out infinite;
}

@keyframes floatGift {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Khi chạm vào */
.gift-img:active {
  transform: scale(0.95);
}
/* lockScreen */
#lockScreen @keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.sparkles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.sparkles span {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  animation: floatSparkle 10s linear infinite;
}

/* Random vị trí + delay */
.sparkles span:nth-child(1) {
  left: 10%;
  animation-delay: 0s;
}
.sparkles span:nth-child(2) {
  left: 25%;
  animation-delay: 2s;
}
.sparkles span:nth-child(3) {
  left: 40%;
  animation-delay: 4s;
}
.sparkles span:nth-child(4) {
  left: 55%;
  animation-delay: 1s;
}
.sparkles span:nth-child(5) {
  left: 70%;
  animation-delay: 3s;
}
.sparkles span:nth-child(6) {
  left: 85%;
  animation-delay: 5s;
}
.sparkles span:nth-child(7) {
  left: 50%;
  animation-delay: 6s;
}
.sparkles span:nth-child(8) {
  left: 30%;
  animation-delay: 7s;
}

@keyframes floatSparkle {
  0% {
    top: 100%;
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: -10%;
    transform: scale(1.2);
    opacity: 0;
  }
}
